@{
    ViewData["Title"] = "Devices";
}

@section scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-routes.js"></script>
    <script src="~/js/devicesMainController.js"></script>
    <script src="~/js/addNewDeviceController.js"></script>
}

<div ng-app="appModule">
    <div ng-view>
        @*view changes here*@
    </div>
</div>