@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="starter-template">
        <h1>Quality System</h1>
        <p class="lead">
            Manage Your Devices Easily!
        </p>
    </div>

</div><!-- /.container -->


<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Devices</h2>
            <p>Manage your devices.</p>
            <p><a class="btn btn-secondary" role="button" asp-controller="Home" asp-action="Devices">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Reports</h2>
            <p>Generate quality reports.(Not Yet Done)</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Devices Check</h2>
            <p>Check devices hardware remotely.(Not Yet Done)</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>