<div class="row">
    <div class="col-lg-12">
        <wait-cursor ng-show="vm.isBusy"></wait-cursor>
        <div ng-show="vm.errorMessage" class="text-danger">{{vm.errorMessage}}</div>
        <div ng-show="vm.successMessage" class="text-success">{{vm.successMessage}}</div>
    </div>

    <div class="col-lg-4 col-lg-offset-4 text-center">
        <a href="" data-toggle="modal" data-target="#addNewLocation"><h4>Add New Location</h4><i class="glyphicon glyphicon-plus-sign fa-2x"></i></a>
    </div>

    <table class="table table-responsive table-striped">
        <tr>
            <th>Location</th>
            <th>Number Of Devices</th>
            <th>Actions</th>
        </tr>

        <tr ng-repeat="location in vm.locations">
            <td>{{location.name}}</td>
            <td>{{location.devicesCount}}</td>
            <td>
                <a ng-click="vm.DeleteLocation(location.id)"><i class="fa fa-remove fa-2x"></i></a>
                <a ng-click="vm.BeginLocationEditing(location.id)" data-toggle="modal" data-target="#updateLocation"><i class="fa fa-edit fa-2x"></i></a>
            </td>
        </tr>
    </table>
</div>

<!-- Add new location modal -->
<add-new-location class="modal fade" id="addNewLocation"></add-new-location>

<!-- Update location modal -->
<update-location class="modal fade" id="updateLocation"></update-location>